

h1, h2, h3, h4 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

 p {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 1px;
  }

 